[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "rtosC/rtosCore"]
	path = rtosC/rtosCore
	url = git@github.com:TummalaManish/FreeRTOS-Kernel.git
	branch = main
